body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #007acc;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin: 20px 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.service {
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 15px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.main-button {
  background-color: #025680  !important;
  color: white;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.main-button:hover {
  background-color: #012639  !important;
}